---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: ipblocks.ops.yiiong.top
spec:
  group: ops.yiiong.top
  names:
    kind: IPBlock
    listKind: IPBlockList
    plural: ipblocks
    singular: ipblock
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: IPBlock is the Schema for the ipblocks API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: |-
              IPBlockSpec defines the desired state of IPBlock.
              封禁请求
            properties:
              by:
                type: string
              duration:
                type: string
              ip:
                description: |-
                  INSERT ADDITIONAL SPEC FIELDS - desired state of cluster
                  Important: Run "make" to regenerate code after modifying this file
                type: string
              reason:
                type: string
              source:
                type: string
              tags:
                items:
                  type: string
                type: array
              trigger:
                type: boolean
              unblock:
                type: boolean
            required:
            - ip
            type: object
          status:
            description: |-
              IPBlockStatus defines the observed state of IPBlock.
              封禁状态
            properties:
              banCount:
                format: int64
                type: integer
              blockedAt:
                type: string
              lastSpecHash:
                type: string
              message:
                type: string
              phase:
                type: string
              result:
                description: |-
                  INSERT ADDITIONAL STATUS FIELD - define observed state of cluster
                  Important: Run "make" to regenerate code after modifying this file
                type: string
              unblockedAt:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
